<div class="container wrapper">
  <div class="pull-right">
    <%= link_to new_geographical_area_path do %>
      <%= fa_icon "plus-square-o" %> <span>Agregar</span>
    <% end %>
  </div>
  <div>
    <h3>Areas Geográficas</h3>
    <div class="row">
      <% @geographical_areas.each do |element| %>
        <div class="col-4 el-wrapper">
          <div class="el-inner row">
            <div class="col-6">
              <div><%= element.city %></div>
              <div><%= element.state %></div>
              <div class="color-addon" style="background-color: <%= element.color %>"></div>
            </div>
            <div class="col-6">
              <span class="col-12">
                <%= link_to edit_geographical_area_path(element) do %>
                  <%= fa_icon "pencil-square-o 1x" %> <span>Editar</span>
                <% end %>
              </span>
              <span class="col-12">
                <%= link_to element, method: :delete do %>
                  <%= fa_icon "trash-o 1x" %> <span>Eliminar</span>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
