<div class="wrapper"><%= link_to "Regresar", :back, class: "button alpha primary" %></div>
<div class="wrapper row">
  <div class="col-6"><h4><%= @candidate.candidate_area.name %></div>
  <div class="col-6">
    <% if user_signed_in? %>
      <div class="pull-right row">
        <div class="col-12">
          <%= link_to edit_candidate_path(@candidate) do %>
            <%= fa_icon "pencil-square-o 1x" %> <span>Editar Candidato</span>
          <% end %>
        </div>
        <div class="col-12">
          <%= link_to @candidate, method: :delete do %>
            <%= fa_icon "trash-o 1x" %> <span>Eliminar Candidato</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-12 row">
    <div class="col-4">
      <div class="candidate-image">
        <%= image_tag @candidate.image.present? ? @candidate.image : "placeholder.jpg" %>
        <div class="candidate-line col-12" style="background-color: <%= @candidate.isGovernor? ? @candidate.political_party.color : @candidate.geographical_area.color %>"></div>
      </div>
    </div>
    <div class="col-8 row">
      <span class="col-12"><strong><%= @candidate.name %></strong></span>
      <% if @candidate.isGovernor? %>
        <span class="col-12"><%= @candidate.political_party.name %></span>
      <% else %>
        <span class="col-12"><%= "#{@candidate.geographical_area.city}, #{@candidate.geographical_area.state}" %></span>
      <% end %>
      <% if @candidate.bio.present? %>
        <div class="col-12">
          <h3>Bio</h3>
          <%= @candidate.bio.html_safe %>
        </div>
      <% end %>
      <% if @candidate.proposals.present? %>
        <div class="col-12">
          <h3>Propuestas</h3>
          <%= @candidate.proposals.html_safe %>
        </div>
      </div>
    <% end %>
    <% if @candidate.milestones.count > 0 %>
      <div class="col-12 row">
        <h3>Trayectoria</h3>
        <% @candidate.milestones.each do |milestone| %>
          <div class="col-12"><%= milestone.position %></div>
          <div class="col-6"><%= milestone.proposals.html_safe %></div>
          <div class="col-6"><%= milestone.accomplished.html_safe %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
