<html lang="en">

<head>
  <!--includes meta tags, title and more header definitions-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600,700,100,800,500,400,300' rel='stylesheet' type='text/css'>

  <title>MisCandidatos</title>

  <!-- Furatto core CSS -->
  <%= stylesheet_link_tag "application", :cache => true %>
  <%= csrf_meta_tag %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <nav class="navigation-bar container">
   <ul class="brand-section">
     <li class="brand-name">
      <a href="/" class="menu-trigger" id="trigger">Logo</a>
     </li>
     <li class="menu-toggle">
      <a href="#">Menu</a>
     </li>
   </ul>
   <ul class="">
     <li class="divider"></li>
     <li><a href="#">Perfiles</a></li>
     <li class="divider"></li>
     <li><a href="/docs">Marco Legal</a></li>
     <li class="divider"></li>
     <li><a href="/docs">Formas de financiamiento</a></li>
     <li class="divider"></li>
     <li><a href="/docs">Reglas de candidatura</a></li>
   </ul>
  </nav>
  <% flash.each do |key, value| %>
    <div class="alert <%= key %>">
      <a href="#" class="close">x</a>
      <%= value %>
    </div>
  <% end %>
  <%= yield %>
  <footer>
    <hr />
    © MisCandidatos, 2015. <br />
    <br />
    MisCandidatos.mx no esta afiliado a ningún partido político y su único objetivo es promover la participación democrática y la información objetiva sobre los candidatos a puestos políticos en México.
  </footer>
  <%= javascript_include_tag "application" %>
</body>
</html>
