<html lang="en">

<head>
  <!--includes meta tags, title and more header definitions-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600,700,100,800,500,400,300' rel='stylesheet' type='text/css'>

  <title>YoElijo.mx</title>

  <!-- Furatto core CSS -->
  <%= stylesheet_link_tag "application", :cache => true %>
  <%= csrf_meta_tag %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <nav class="navigation-bar">
   <ul class="brand-section">
     <li class="brand-name">
      <a href="/" class="menu-trigger" id="trigger">Logo</a>
     </li>
     <li class="menu-toggle">
      <a href="#">Menu</a>
     </li>
   </ul>
   <ul>
     <li class="divider"></li>
     <li><%= link_to "Perfiles", profiles_path %></li>
     <li class="divider"></li>
     <li><%= link_to "Marco Legal", legal_path %></li>
     <li class="divider"></li>
     <li><%= link_to "Formas de financiamiento", finance_path %></li>
     <li class="divider"></li>
     <li><%= link_to "Reglas de candidatura", rules_path %></li>
     <% if user_signed_in? %>
       <li class="divider"></li>
       <li class="with-dropdown">
         <a href="#"><span>Dashboard </span><%= fa_icon "arrow-down" %></a>
         <ul class="dropdown">
           <li><%= link_to "Candidatos", candidates_path %></li>
           <li><%= link_to "Partidos Políticos", "#" %></li>
           <li><%= link_to "Areas Geográficas", "#" %></li>
           <li><%= link_to "Areas de Candidatura", "#" %></li>
           <% if current_user.admin? %>
             <li class="divider"></li>
             <li><%= link_to "Usuarios", "#" %></li>
           <% end %>
         </ul>
       </li>
       <li class="divider"></li>
       <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
     <% end %>
   </ul>
  </nav>
  <% flash.each do |key, value| %>
    <div class="alert <%= key %>">
      <a href="#" class="close">x</a>
      <%= value %>
    </div>
  <% end %>
  <%= yield %>
  <footer>
    <hr />
    © YoElijo, 2015. <br />
    <div class="disclaimer">
      YoElijo.mx no esta afiliado a ningún partido político y su único objetivo es promover la participación democrática y la información objetiva sobre los candidatos a puestos políticos en México.
    </div>
  </footer>
  <%= javascript_include_tag "application" %>
</body>
</html>
